manifest {
  author = 'Satrio Wibowo <satrio.biology@yahoo.com>'
  name = 'bgsi/pl-mqc'
  description = 'QC Pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}

params {
  profile = false
  cache = ''
  illumina_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
  fastq_exts = ['.fastq.gz', '.fq.gz', '.fastq', '.fq']
  fastq_input = 'NO_FILE'
  input = 'NO_FILE'
  platform= 'illumina'
  versioned_outdir = false

  monochrome_logs = false
  hook_url = './out'
  help = false
  version = false
  validate_params = false

  outdir = './out'
  publish_dir_mode = 'copy'

  gpu = 'single'
  max_cpus = 64
  max_memory = 256.GB

  storageClass = 'GLACIER_IR'
}

plugins {
    id 'nf-validation'
    id 'nf-prov'
}

docker.enabled = true
docker.registry = 'quay.io'
docker.runOptions = '-e AWS_ACCESS_KEY_ID -e AWS_SECRET_ACCESS_KEY -e AWS_SESSION_TOKEN -e AWS_DEFAULT_REGION -e AWS_REGION'

process {
    resourceLimits = [
        cpus  : params.max_cpus,
        memory: params.max_memory
    ]

    withName: 'MOSDEPTH' {
        ext.args = "--no-per-base"
    }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1

    withName: 'MULTIQC' {
        cpus   = { 4 * task.attempt }
        memory = { 12.GB * task.attempt }
    }
}

plugins {
    id 'nf-amazon'
}